
//общие


body {
	margin: 0;
	padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  // background-image: url("../img/mishka-index-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: 50% 0;

  opacity: 0.5;
}

@media (min-width: 768px) {
	body {
		background-image: url("../img/mishka-index-tablet.jpg");
	  background-repeat: no-repeat;
	  background-position: 50% 0;	
	}
}

@media (min-width: 1200px) {
	body {
		background-image: url("../img/mishka-index-desktop.jpg");
	  background-repeat: no-repeat;
	  background-position: 50% 0;
	}
}


// меню хедера


.main-nav__wrapper {
	display: none;
}

.main_header {
	border-bottom: solid #ebebeb 2px;
	height: 78px;
	position: relative;
	padding: 0;
	margin: 0;
}

.page-header__logo {
	position: absolute;
	margin-left: -43px;
	margin-top: -17px;
	left: 50%;
	top: 50%;
}

.main-nav__toggle {
	width: 20px;
	height: 14px;
	border: none;
	background-color: #FFFFFF;
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	position: absolute;
	//margin-right: -10px;
	right: 30px;
	top: 32px;
}


@media (min-width: 768px) {

	body {
		width: 768px;
		margin: 0 auto;
		padding: 0;
	}

	.main_header {
		height: 87px;
		border-bottom: solid #ececec 1px;
		//outline: solid red 2px;
		position: relative;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__wrapper {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		//display: flex;
		width: 398px;
		height: 88px;
		margin-left: auto; 
		background-image: url("../img/cart.png");
  	background-repeat: no-repeat;
  	background-position: 115px 35px;
	}

	.page-header__logo {
		// img {
		// 	display: none;
		// }
		display: block;
		width: 113px;
		height: 46px;
		position: absolute;
		margin: 0; 
		left: 48px;
		top: 22px;
		background-image: url("../img/mishka-logo-tablet.png");
	}

	.page-header__logo-image {
		display: none;
	}

	.site-list {
		padding: 0;
		margin: 0;
		display: flex;
		list-style: none;
		position: absolute;
		top: 107px;
		z-index: 1;
		left: -321px;
		li a {
			font-size: 15px;
	  	line-height: 24px;
	  	color: black;
	  	text-decoration: none;
  	}
	}

	.site-list__item {
		margin-right: 36px;
	}

	.user-list {
		list-style: none;
		position: absolute;
		top: 32px;
		right: 50px;
		z-index: 1;
	}

	.user-list__login {
		font-size: 17px;
  	line-height: 24px;
  	color: black;
  	text-decoration: none;
	}

	.user-list, .user-list__item, .user-list__login	{
		padding: 0;
		margin: 0;
	}

	.search-list__form {
		display: none;
	}

	.main-nav {
		display: flex;
	}

	.search-list__button {
		width: 83px;
		height: 88px;
		border: solid #ececec 1px;
		border-top: none;
		background-color: white;
		background-image: url("../img/search.png");
		background-repeat: no-repeat;
		background-position: center;
	}
}



//мэин хэдер

.page-main {
	padding: 0;
	margin: 0;
}

.page-main__head {
	padding: 0;
	margin: 0;
	margin-top: 2px;
	height: 486px;
	position: relative;
	background-color: #f9f9f9;
	background-image: url("../img/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-position: 50% -20px;
}

.page-main__top-wrap {
	display: none;
}

.page-main__head__text {
	font-size: 27px;
  line-height: 30px;
	padding-top: 68px;
	margin: 0 auto;
	width: 260px;
	text-align: center;
}

.page-main__bahroma {
	box-sizing: border-box;
	height: 103px;
	padding: 0;
	margin: 0;	
	font-size: 19px;
  line-height: 24px;
  color: white;
  padding-top: 25px;
  padding-left: 30px;
}

.bahroma__text {
	width: 130px;
	padding: 0;
	margin: 0;	
}

.page-main__bahroma--left {
	margin-top: 122px;
	background-color: #8dd0bb;
	background-image: url("../img/interior.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 14px) 23px;
}

.page-main__bahroma--right {
	background-color: #80c2b2;
	background-image: url("../img/toy.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 12px) 21px;
}


@media (min-width: 768px) {
	.page-main__top-wrap {
		display: block;
		.top-wrap__list {
			display: none;
			//margin-top: 0px;
		}
	}

	.top-wrap__text {
		display: block;
		font-size: 15px;
  	line-height: 24px;
  	color: #464646;
  	font-weight: normal;
  	margin-left: auto;
  	width: 231px;
  	margin-top: 0px;
  	padding-top: 18px;
	}

	.page-main__head {
		height: 738px;
		margin-top: 0px;
		background-image: url("../img/hero-desktop.jpg");
		background-repeat: no-repeat;
		background-position: center 0px;
		padding: 0 50px;
	}

	.page-main__head__text {
		font-size: 43px;
	  line-height: 50px;
		padding-top: 97px;
		width: 500px;
		text-align: center;
	}


	.bahroma_div {
		display: flex;
	}

	.page-main__bahroma {
		height: 103px;
		width: 334px;
		margin-top: 373px;
		height: 117px;
		font-size: 20px;
	  line-height: 30px;
	  padding-top: 27px;
	  padding-left: 35px;
	}


	.page-main__bahroma--left {
		background-position: 257px 30px;
	}

	.page-main__bahroma--right {
		background-position: 240px 30px;
	}

	.visulka {
		width: 768px;
		height: 24px;
		background-image: url("../img/zigzag-fill-desktop.png");
		background-repeat: repeat-x;
		//outline: solid red 1px;
		position: relative;
		top: -10px;
		margin-left: -50px;

	}
	//

}



 
//товар недели



.page-main__week-good {
	//outline: solid black 2px;
	padding: 0 30px;
	//height: 825px;
	display: flex;
	flex-direction: column;
	align-items: center; 
	padding-top: 27px;
	padding-bottom: 45px;
	background-image: url("../img/zigzag-line-desktop.png");
	background-repeat: repeat-x;
	background-position: 0px 100%;
}


.week-good__header {
	order: -1;
	padding: 0;
	margin: 0;	
	font-size: 25px;
  line-height: 30px;
  position: relative;
  left: -5px;
}

.week-good__label {
	padding: 0;
	margin: 0;	
	font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #8dd0bb;
  position: relative;
  top: 5px;
  left: -65px;
}

.week-good__div {
	margin: 0;
	padding: 0;
	font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 13px;
}

.week-good__cost--top, .week-good__order--top {
	display: none;
}

.week-good__stat {
	//outline: solid black 2px;
	top: 2px;
	width: 100%;
	min-width: 260px;
	border-collapse: collapse;
	tr {
		//outline: solid red 2px;
		height: 40px;
		//width: 100%;
	}
}

.stat__field {
	//outline: solid red 2px;
	width: 37%;
	min-width: 98px;
	border-bottom: solid #ececec 1px;
	padding-top: 5px;
}

.stat__value {
	//outline: solid red 2px;
	border-bottom: solid #ececec 1px;
	padding-top: 5px;
	//margin-right: 0px;
}

.week-good__right {
	margin-top: 15px;
}

.week-good__cost {
	color: #464646;
	font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
}

.week-good__order {
	width: 260px;
	height: 50px;
	color: #464646;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: solid black 2px;
  margin-top: 12px;
  background-color: white;
}



@media (min-width: 768px) {
	.page-main__week-good {
		flex-wrap: wrap;
		flex-direction: row;
		padding-right: 50px;
		padding-left: 50px;
	}

	.week-good__header {
		padding-top: 25px;
		font-size: 43px;
	  line-height: 50px;
	  left: -3px;
	}

	.week-good__label {
		font-size: 17px;
	  line-height: 17px;
	  position: relative;
	  top: 16px;
	  left: 138px;
	  width: 80px;
	  text-align: center;
	}

	.week-good__div {
		width: 50%;
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.week-good__left__promo {
		margin-top: 50px;
		padding-top: 0;
		font-size: 17px;
  	line-height: 30px;
  	width: 290px;
  	margin-bottom: 33px;
	}

	.week-good__stat {
		width: 291px;
		min-width: 260px;
	}

	.stat__field {
		width: 33%;
		min-width: 90px;
	}

	.week-good__cost--top, .week-good__order--top {
		display: block;
	}


	.week-good__cost--top {
		font-size: 20px;
  	line-height: 24px;
  	color: #464646;
  	position: relative;
  	top: 37px;
  	left: 71px;
	}

	.week-good__order--top {
		width: 289px;
		margin-top: 55px;
	}

	.week-good__cost--bottom, .week-good__order--bottom {
		display: none;
	}

	.week-good__right {
		img {
			display: none;
		}
		margin-top: 60px;
		min-width: 333px;
		min-height: 404px;
		background-image: url("../img/triple-set-tablet.jpg");
		background-repeat: no-repeat;
	}

	.page-main__week-good {
		padding-bottom: 65px;
		background-image: url("../img/zigzag-line-desktop2.png");
		background-repeat: repeat-x;
		background-position: 0px 100%;
	}

}







// о нас 



.page-main__about {
	margin: 0;
	padding: 0;
	padding: 0 30px;
	padding-bottom: 50px;
	background-image: url("../img/zigzag-line-desktop.png");
	background-repeat: repeat-x;
	background-position: 0px 100%;
}

.about-us__header {
	font-size: 25px;
  line-height: 30px;	
  margin-top: 26px;
}

.about-us__list {
	background-color: white;
	list-style: none;
	padding: 0;
	margin: 0;
}

.about-us__item {
	display: block;
	padding-bottom: 18px;
	//outline: solid black 2px;
	font-size: 17px;
  line-height: 20px;	
}

.about-us__item__bg {
	min-height: 65px;
	//outline: solid red 2px;
}

.about-us__list li:nth-child(1) {
	background-image: url("../img/icon-1.png");
	background-repeat: no-repeat;
	background-position: 8px 12px;
}

.about-us__list li:nth-child(2) {
	background-image: url("../img/icon-2.png");
	background-repeat: no-repeat;
	background-position: 0px 12px;
}

.about-us__list li:nth-child(3) {
	background-image: url("../img/icon-3.png");
	background-repeat: no-repeat;
	background-position: 6px 16px;
}

.about-us__list li:nth-child(4) {
	background-image: url("../img/icon-4.png");
	background-repeat: no-repeat;
	background-position: 2px 14px;
}

.about-us__list li:nth-child(5) {
	background-image: url("../img/icon-5.png");
	background-repeat: no-repeat;
	background-position: -4px 15px;
}

.about-us__list li:nth-child(6) {
	background-image: url("../img/icon-6.png");
	background-repeat: no-repeat;
	background-position: 4px 13px;
}


@media (min-width: 768px) {

	.page-main__about {
		padding: 0 50px;
		padding-bottom: 95px;
		background-image: url("../img/zigzag-line-desktop2.png");
		background-repeat: repeat-x;
		background-position: 0px 100%;
	}


	.about-us__header {
		font-size: 43px;
	  line-height: 50px;	
	  margin-top: 50px;
	  margin-left: -4px;
	  margin-bottom: 40px;
	}

	.about-us__item {
		width: 50%;
		height: 137px;
		font-size: 20px;
	  line-height: 22px;
	}

	.about-us__list {
		display: flex;
		flex-wrap: wrap;
	}

	.about-us__list li:nth-child(1) {
		order: 1;
	}

	.about-us__list li:nth-child(2) {
		order: 3;
	}

	.about-us__list li:nth-child(3) {
		order: 5;
	}

	.about-us__list li:nth-child(4) {
		order: 2;
	}

	.about-us__list li:nth-child(5) {
		order: 4;
	}

	.about-us__list li:nth-child(6) {
		order: 6;
	}
}




// комментарии





.about__comments {
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.comments__header {
	margin: 0;
	padding: 0;
	margin-top: 42px;
}

.comments__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comments__item {
	margin: 0;
	padding: 0;
	padding-top: 13px;
}

.comments__text, .comments__mail {
	font-size: 15px;
  line-height: 30px;	
  font-weight: normal;
  color: #464646;
}

.comments__author {
	font-size: 17px;
  line-height: 24px;	
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0px;
}

.comments__mail {
	font-size: 17px;
	margin-top: 0px;
	padding-top: 3px;
}

.comments__button {
	//outline: solid red 2px;
	padding-top: 12px;
}

.comments__back, .comments__forward {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 125px;
	width: 50%;
	min-height: 52px;
	border: solid #ebebeb 1px;
	background-image: url("../img/huge-arrow-left.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
}

.comments__forward {
	margin-left: -5px;
	background-image: url("../img/huge-arrow-right.png");
	//background-position: 38px 13px;
}

.comments__write_div {
	margin-top: 36px;
	display: flex;
}


.comments__write {
	width: 260px;
	height: 50px;
	color: #464646;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: solid black 2px;
  margin: 0 auto;
  background-color: white;
}


@media (min-width: 768px) {

	.about__comments {
		position: relative;
	}

	.comments__header {
		font-size: 43px;
  	line-height: 50px;
  	margin-top: 113px;
  	margin-left: -4px;
	}

	.comments__text {
		font-size: 17px;
  	line-height: 30px;
  	color: #464646;
  	margin-top: 36px;
	}

	.comments__author {
		font-size: 18px;
  	line-height: 37px;
  	margin-top: 40px;
	}

	.comments__mail {
		font-size: 17px;
  	line-height: 30px;
  	color: #464646;
  	margin-top: -5px;
	}

	.comments__button {
		width: 175px;
		position: absolute;
		right: 0px;
		bottom: 35px;
	}

	.comments__back, .comments__forward {
		min-width: 10px;
		width: 50%;
		border: none;
	}

	.comments__write {
		position: absolute;
		top: 2px;
		right: 0;
		width: 175px;
	}

	.review_img {
		background-image: url("../img/review.jpg");
		background-repeat: no-repeat;
		width: 350px;
		height: 457px;
		position: absolute;
		top: -77px;
		left: -50px;
		z-index: -1;
	}
}




//контакты  




.page-main__contacts {
	margin: 0;
	padding: 0;
	//min-height: 900px;
}

.contacts__header {
	font-size: 18px;
  line-height: 30px;
  margin-left: 28px;
  margin-top: 38px;
}

.contacts__write--top {
	display: none;
}

.contacts__contacts {
	margin-left: 28px;
	font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  border-collapse: collapse;
  margin-right: 30px;
  margin-top: 25px;
}

.contacts__contacts tr:nth-child(1) {
  height: 60px;
  vertical-align: top;
 }

.contacts__contacts tr:nth-child(2) {
  // height: 60px;
  vertical-align: top;
 }

.contacts__field {
	//outline: solid red 1px;
	width: 30%;
}

.contacts__value {
	//outline: solid red 1px;
}

.page-main__contacts__right {
	margin: 0 auto;
	margin-top: 35px;
	width: 320px;
	height: 458px;
	background-image: url("../img/icon-2.png");
}

.contacts__write_div {
	display: flex;
	margin-top: 40px;
}

.contacts__write {
	width: 260px;
	height: 50px;
	color: #464646;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: solid black 2px;
  margin: 0 auto;
  background-color: white;	
}


@media (min-width: 768px) {
	
}




//футьерррр 



.page-footer__wrapper {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	//outline: solid red 2px;
}

.page-footer__social, .page-footer__copyright {
	height: 80px;
}

.page-footer__social {
	display: flex;
	flex-direction: column;
	//outline: solid yellow 2px;
	align-items: center;
}

.page-footer__line {
	border-bottom: solid #464646 1px;
}

.social__list {
	padding: 0;
	margin: 0;
	margin-top: 25px;
	width: 150px;
	list-style: none;
	//outline: solid black 2px;
	display: flex;
	justify-content: space-between;
}

.social__item {
	// width: 30px;
	// height: 30px;
	//background-color: yellow;
}

.social__link {
	width: 35px;
	height: 35px;
	//background-color: red;
	border: none;
	margin: 0;
	padding: 0;
}

.social__link--vkontakte {
	background-image: url("../img/insta.png");
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

.social__link--facebook {
	background-image: url("../img/fb.png");
	background-repeat: no-repeat;
	background-position: 7px -1px;
}

.social__link--instagram {
	background-image: url("../img/twitter.png");
	background-repeat: no-repeat;
	background-position: 4px 5px;
}

.copyright__text {
	font-size: 19px;
  line-height: 18px;
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -92px;
}

.page-footer__copyright {
	//outline: solid red 1px;
	position: relative;
	//width: 200px;
}

.copyright__link {
	position: absolute;
	margin-left: 62px;
	left: 50%;
	top: 20px;
	width: 30px;
	height: 40px;
	//background-color: red;
	border: none;
	background-image: url("../img/htmlacademy.png");
	background-repeat: no-repeat;
	background-position: 2px 2px;
}